<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Ascepion LIMS</display-name>
	<description>Ascepion LIMS Application</description>

	<filter>
		<filter-name>permissions</filter-name>
		<filter-class>
			com.ascepionpharm.lims.universal.PermissionFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>permissions</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>
			com.ascepionpharm.lims.universal.MainServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>

	<!-- DWR conifguation -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>

		<init-param>
			<param-name>config</param-name>
			<param-value>WEB-INF/dwr.xml</param-value>
		</init-param>

		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>scriptCompressed</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<!-- Standard Action Servlet Mapping -->
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>


	<welcome-file-list>
		<welcome-file>/core/Login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
