<html>
<head>
<meta NAME="author" CONTENT="Judit Vasko-Szedlar, Tamas Vertse">
<link REL ="stylesheet" TYPE="text/css" HREF="../../../marvinmanuals.css" TITLE="Style">
<title>MarvinView Applet Examples</title>
</head>
<body>
<center>
<h1>MarvinView Applet Examples</h1>
<h3>Version 5.1.0</h3>
</center>

<ol>
<li>Viewing a molecule
    <ol>
    <li><a HREF="embed.html">Embedding MarvinView applet in HTML pages</a></li>
    </ol>
    </li>
<li>Molecule tables
    <ol>
    <li><a HREF="sdtable.html">Loading molecules from an SD file to a molecule table</a></li>
    <li><a HREF="advancedtable.html">Creating an advanced molecule table</a></li>
    <li><a HREF="advancedcomponents.html">Adding advanced components to molecule tables</a></li>
    <li><a HREF="advancedlayout.html">Fine-tuning the layout</a></li>
    <li><a HREF="javascripting.html">JavaScripting, CGI scripting using buttons and checkboxes</a></li>
    </ol>
    </li>
<li>Configuring MarvinView
    <ol>
    <li><a HREF="configure1.html">Compression, color, magnification, atom size, hydrogen labels</a></li>
    <li><a HREF="configure2.html">Background colors, 3D, rotation</a></li>
    <li><a HREF="configure3.html">3D Viewer settings</a></li>
    <li><a HREF="configure4.html">XYZ animations</a></li>
    <li><a HREF="stereoconfig.html">Display stereo configurations</a></li>
    </ol>
</li>
<li>Manipulating table contents
    <ol>
        <li><a HREF="editable.html">Editable table</a>
<!--        <li><a HREF="selection.html">Selecting atoms</a></li>-->
        <li><a HREF="atomcoloring.html">Atom coloring</a></li>
        <li><a HREF="colorsets.html">Coloring atom and bond sets</a></li>
    </ol>
</li>
<li>Molecular property calculations
    <ol>
        <li><a href="chemicalterms.html">Molecular property calculations with Chemical Terms</a></li>
    </ol>
</li>
<li><a HREF="japanese.html">Japanese character support</a></li>
<li>Events and Listeners
    <ol>
        <li><a href="listeners.html">Listening for events in applets</a></li>    
    </ol>
</li>
</ol>
<center><div class="lenia">&nbsp;</div></center>

<p ALIGN=CENTER><small>Copyright &copy; 1998-2008
<a HREF="http://www.chemaxon.com" TARGET="_top">ChemAxon Ltd.</a>
&nbsp;&nbsp;&nbsp;All rights reserved.</small></p>

</body>
</html>
