.tdhead {
	BACKGROUND-COLOR: #a70046; COLOR: white; FONT-WEIGHT: bold
}
.incbody {
	BACKGROUND-COLOR: rgb(252,196,210); FONT-FAMILY: Verdana; FONT-SIZE: 7pt
}
.name {
	FONT-SIZE: medium; FONT-WEIGHT: bold
}

.clsTitle {
	COLOR: white; FONT-FAMILY: Verdana; FONT-WEIGHT: bold
}
.signature {
	COLOR: rgb(167,0,70); FONT-FAMILY: Verdana; FONT-SIZE: 8pt; MARGIN-TOP: 0px
}
.header {
	COLOR: black; FONT-FAMILY: Verdana; FONT-SIZE: x-large
}
.notopmargin {
	MARGIN-TOP: -12pt
}
.midhr {
	TEXT-ALIGN: left; WIDTH: 200px
}
.boldtitle {
	COLOR: rgb(167,0,70); FONT-FAMILY: Verdana; FONT-SIZE: large; FONT-WEIGHT: bold
}
.normtitle {
	FONT-FAMILY: Verdana; FONT-SIZE: large
}
.bold {
	COLOR: rgb(167,0,70); FONT-FAMILY: Verdana; FONT-WEIGHT: bold
}
.indent {
	TEXT-INDENT: 35px
}
.tdname {
	COLOR: rgb(167,0,70); TEXT-ALIGN: right
}
.high {
	COLOR: rgb(167,0,70); FONT-SIZE: medium; FONT-WEIGHT: bold
}
.smalltd {
	FONT-SIZE: 8px
}
.th1 {
	BACKGROUND-COLOR: #e0e0e0; COLOR: navy; FONT-WEIGHT: bold
}
.menu {
	BACKGROUND-COLOR: #ad004a; COLOR: white; FONT-FAMILY: Verdana; FONT-SIZE: x-small
}
.myinput {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffdce6 1px solid; BORDER-LEFT: #ffdce6 1px solid; BORDER-RIGHT: #ffdce6 1px solid; BORDER-TOP: #ffdce6 1px solid
}
.nounderline {
	TEXT-DECORATION: none
}
.boldanchor {
	COLOR: black; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.alla {
	COLOR: #cc4466
}
.alla1 {
	COLOR: #cc4466
}
.li {
	COLOR: #a70046; FONT-SIZE: medium; FONT-WEIGHT: bold
}
.code {
	BACKGROUND-COLOR: #ffffc0; WIDTH: 80%
}
.question {
	BACKGROUND-COLOR: #ffdce6; FONT-WEIGHT: bold
}
.tablehead {
	BACKGROUND-COLOR: #a70046; COLOR: white; FONT-WEIGHT: bold
}
.pinktable TR {
	BACKGROUND-COLOR: #ffdce6; TEXT-ALIGN: center; VERTICAL-ALIGN: top
}
.tablehead TD {
	BACKGROUND-COLOR: #a70046; COLOR: white; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.tablehead2 TD {
	BACKGROUND-COLOR: #ffc0cc; COLOR: #a70046; FONT-WEIGHT: bold; TEXT-ALIGN: left
}
.columnhead {
	TEXT-ALIGN: left
}
PRE {
	FONT-FAMILY: Courier New; FONT-SIZE: small
}
HR {
	COLOR: #010066; HEIGHT: 1px
}
.shr {
	TEXT-ALIGN: left; WIDTH: 400px
}
H5 {
	COLOR: #010066; FONT-FAMILY: Verdana; FONT-SIZE: small
}
DT {
	FONT-FAMILY: Verdana; FONT-SIZE: large
}
.DT {
	COLOR: #cc4466; FONT-FAMILY: Verdana; FONT-SIZE: large
}
DD {
	FONT-FAMILY: Verdana; FONT-SIZE: x-small
}
TD {
	FONT-FAMILY: Verdana; FONT-SIZE: x-small
}
body {
	BACKGROUND-COLOR: white; COLOR: black; FONT-FAMILY: Verdana; FONT-SIZE: x-small; MARGIN-LEFT: 0px; MARGIN-TOP: 0px
}
P {
	LINE-HEIGHT: 150%
}
UL {
	LINE-HEIGHT: 150%
}
HR.clsMenuLine {
	COLOR: #010066; HEIGHT: 1px; TEXT-ALIGN: left
}
DIV#divMenuBar {
	LINE-HEIGHT: 100%
}
TABLE#tblMenuBar TD {
	COLOR: #a70046; CURSOR: default; FONT-SIZE: x-small; LINE-HEIGHT: 100%; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
TABLE#tblMenuBar TD.clsMenuBarItem {
	COLOR: white; CURSOR: hand; LINE-HEIGHT: 100%
}
DIV.clsMenu {
	BACKGROUND-COLOR: black; FONT-FAMILY: Verdana; FONT-SIZE: 10px; LINE-HEIGHT: 130%; PADDING-BOTTOM: 7px; PADDING-LEFT: 3px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; Z-INDEX: 10; POSITION: absolute; VISIBILITY: hidden; WIDTH: 200px
}
DIV.clsMenu A {
	COLOR: limegreen; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV.clsMenu A:hover {
	BACKGROUND-COLOR: white; COLOR: #a70046
}
.bluelink A {
	COLOR: #5070f0
}
.bluelink A:visited {
	COLOR: gray
}
.LeftNavOff {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffdce6 1px solid; BORDER-LEFT: #ffdce6 1px solid; BORDER-RIGHT: #ffdce6 1px solid; BORDER-TOP: #ffdce6 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavUp {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #cc6666 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #cc6666 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 0pt; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavDown {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #cc6666 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #cc6666 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavOn {
	BACKGROUND-COLOR: #ffa500; BORDER-BOTTOM: #cc6666 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #cc6666 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #666666; FONT-FAMILY: verdana; FONT-SIZE: 11px; FONT-WEIGHT: bold; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubOff {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffdce6 1px solid; BORDER-LEFT: #ffdce6 1px solid; BORDER-RIGHT: #ffdce6 1px solid; BORDER-TOP: #ffdce6 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubUp {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #cc6666 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #cc6666 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubDown {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #cc6666 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #cc6666 1px solid; COLOR: #000000; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubChosen {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffdce6 1px solid; BORDER-LEFT: #ffdce6 1px solid; BORDER-RIGHT: #ffdce6 1px solid; BORDER-TOP: #ffdce6 1px solid; COLOR: #cc4466; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubChosenUp {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #cc6666 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #cc6666 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #cc4466; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.LeftNavSubChosenDown {
	BACKGROUND-COLOR: #ffdce6; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #cc6666 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #cc6666 1px solid; COLOR: #cc4466; CURSOR: hand; FONT-FAMILY: verdana; FONT-SIZE: 11px; LETTER-SPACING: -0.5pt; LINE-HEIGHT: 20px; MARGIN: 2px 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 3px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 152px
}
.menuhead {
	BACKGROUND-COLOR: #a70046; FONT-FAMILY: Verdana; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.menuhead A {
	COLOR: white
}

td{
    font-size: 12px;
    color:black;
}

th{
    font-size: 12px;
    color:black;
}
